body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    color: darkblue;
}
h1{
    color: rgb(171,52,39);
    text-align: center;
}
h2{
    color: salmon;
    text-align: center;
}
p{
    text-align: justify;
}
mark{
    background-color: aqua;
}

